.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.user-container {
  display: flex;
  width: 40%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.job-container {
  display: flex;
  width: 60%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #00acc1;
  flex-direction: column;
}

.question {
  width: 60%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #322214;
}
